{
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "tabWidth": 4,
    "tailwindStylesheet": "./src/app/globals.css",
    "tailwindFunctions": ["clsx"]
}
